/* Utility classes */
.text-center {
  text-align: center;
}

.main-content {
  border: 1px solid black;
  width: 700px;
  margin: auto;
}

.form-details {
  display: grid;
  grid-template-columns: 21% 79%;
}

.details {
  display: grid;
  grid-template-columns: 28% 72%;
}

h2 {
  border: 1px solid black;
  margin: 2px 2px 2px 2px;
}

h3 {
  border: 1px solid black;
  margin: 2px 2px 2px 2px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.feild {
  border: 1px solid black;
  margin: 2px 2px 2px 2px;
}

.required:after {
  content:" *";
  color: red;
}

.info-titles {
  text-align: center;
}